<section id="background-stars">
  <%# LOGO, TOP PART %>
  <div class="logo-name">
    <%= embedded_svg('svg/one-star', class:"one-star") %>
    <div class="logo">
      <%= link_to "David Mendoza", root_path %>
      <p>Web Developer</p>
    </div>
    <%= embedded_svg('svg/one-star', class:"one-star") %>
  </div>

  <h1 class="poster-name"><%  %></h1>

  <%# STARS, BOTTOM PART %>
  <%= embedded_svg('svg/stars', class:"border-star") %>
</section>
