<div class="container">
  <div class="content">

    <%# Left-main content area %>
    <section class="left-content animate__animated animate__fadeInUp">
      <div id="logo">
        <text-area class="f-name">David </text-area>
        <br>
        <text-area class="l-name">Mendoza</text-area>
      </div>

      <p>
        Web Developer
        <br>
        info@davidmendoza.ch
      </p>
    </section>

    <%# Middle illustration %>
    <section class="image-container">
      <%= image_tag 'gus.png', id: 'gus'%>
    </section>

    <%# Right empty space %>
    <section class="right-content">
    </section>
</div>
