<%# davidmendoza.ch %>
<section class="container">
  <section class="main-content">
    <%= image_tag('flowers', class:"flower-pic") %>
    <div class="mail-button">
      <%= mail_to('hello@davidmendoza.ch') %>
    </div>
  </section>
</section>
