<div class="container">
  <div class="content">
    <section class="right-content">
      <h1>David <br> Mendoza</h1>
      <p>Web Developer</p>
      <p>info@davidmendoza.ch</p>
    </section>

    <%# Middle illustration %>
    <%= image_tag 'gus.png', class: 'gus'%>

    <section class="left-content">
    </section>
</div>
