<div class="container">
  <div class="content">
  <%= image_tag 'gus.png', class: 'gus'%>
    <div class="main">
      <h1>David Mendoza</h1>
      <p>Web Developer</p>
      <p>info@davidmendoza.ch</p>
    </div>
  </div>
</div>
