<div class="container">
  <div class="content">

    <%# Left-main content area %>
    <section class="left-content">
      <div id="logo">
        <text-area class="f-name">David </text-area>
        <br>
        <text-area class="l-name">Mendoza</text-area>
      </div>

      <div class="inquiries">
        <p>Web Developer</p>
        <p class="mail"><%= mail_to "info@davidmendoza.ch", 'Inquiries' %></p>
      </div>
    </section>

    <%# Middle illustration %>
    <section class="image-container">
      <%= image_tag 'gus.png', id: 'gus'%>
    </section>

    <%# Right empty space %>
    <section class="right-content">
    </section>
</div>
