<%# davidmendoza.ch %>
<section class="container">
  <section class="main-content">
    <div class="name-logo">
      <h1>David Mendoza</h1>
      <p>Web Developer</p>
    </div>
    <%= image_tag('flowers', class:"flower-pic") %>
    <div class="mail-button">
      <%= mail_to('hello@davidmendoza.ch') %>
    </div>
  </section>
</section>
