<div class="container">
  <div class="content">
    <h1 class="title">David <br> Mendoza</h1>
    <%= image_tag 'gus.png', class: 'gus'%>
    <section class="profile">
      <p>Web Developer</p>
      <p>info@davidmendoza.ch</p>
    </section>
</div>
