<div class="container">
  <nav>
    <svg id="rotate-sun-container" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 127.6 127.6">
      <path class="logo-star" d="M89.28,119.04l-12.31-13.55c-1.99-2.19-5.61-1.34-6.42,1.51l-5,17.61c-1.07,3.77-6.48,3.61-7.31-.23l-3.89-17.89c-.63-2.89-4.19-3.96-6.31-1.9l-13.13,12.75c-2.82,2.73-7.41-.12-6.22-3.85l5.58-17.43c.9-2.82-1.64-5.53-4.51-4.8l-17.75,4.48c-3.8,.96-6.36-3.81-3.46-6.45l13.55-12.31c2.19-1.99,1.34-5.61-1.51-6.42l-17.61-5c-3.77-1.07-3.61-6.48,.23-7.31l17.89-3.89c2.89-.63,3.96-4.19,1.9-6.31l-12.75-13.13c-2.73-2.82,.12-7.41,3.85-6.22l17.43,5.58c2.82,.9,5.53-1.64,4.8-4.51l-4.48-17.75c-.96-3.8,3.81-6.36,6.45-3.46l12.31,13.55c1.99,2.19,5.61,1.34,6.42-1.51L62.04,2.99c1.07-3.77,6.48-3.61,7.31,.23l3.89,17.89c.63,2.89,4.19,3.96,6.31,1.9l13.13-12.75c2.82-2.73,7.41,.12,6.22,3.85l-5.58,17.43c-.9,2.82,1.64,5.53,4.51,4.8l17.75-4.48c3.8-.96,6.36,3.81,3.46,6.45l-13.55,12.31c-2.19,1.99-1.34,5.61,1.51,6.42l17.61,5c3.77,1.07,3.61,6.48-.23,7.31l-17.89,3.89c-2.89,.63-3.96,4.19-1.9,6.31l12.75,13.13c2.73,2.82-.12,7.41-3.85,6.22l-17.43-5.58c-2.82-.9-5.53,1.64-4.8,4.51l4.48,17.75c.96,3.8-3.81,6.36-6.45,3.46Z"/>
    </svg>
  </nav>
  <div id="content">

    <section id="intro-path">
      <h2>¡Hola! I’m <b>David</b><i>.</i> <br> I make websites<i>,</i> apps & illustrations<i>.</i></h2>
      <%# Background path, SVG %>
      <svg id="yellow-path" data-name="Layer 1" viewBox="0 0 885.55 218.89">
        <path class="path-1" d="M36.66,183.89C21.37,87.02,110.89-21.91,341.58,69.29c240.46,95.05,542.9,148.54,505.87-15.43"/>
      </svg>
    </section>

    <section id="frame-container">
      <%= image_tag("flo_david.jpg", class:"flower-picture") %>
      <svg id="frame-mesh" data-name="Layer 2" viewBox="0 0 567.51 801.8">
        <rect class="cls-1 sew" x="1" y="1" width="565.51" height="799.8"/>
        <rect class="cls-1 sew" x="15.14" y="20.99" width="537.24" height="759.81" rx="102.82" ry="102.82"/>
        <rect class="cls-1 sew" x="28.57" y="39.99" width="510.37" height="721.82"/>
        <rect class="cls-1 sew" x="41.33" y="58.04" width="484.86" height="685.72" rx="89.23" ry="89.23"/>
        <rect class="cls-1 sew" x="53.45" y="75.18" width="460.61" height="651.44"/>
        <rect class="cls-1 sew" x="64.96" y="91.46" width="437.58" height="618.87" rx="51.67" ry="51.67"/>
        <rect class="cls-1" x="75.9" y="106.94" width="415.7" height="587.92"/>
        <rect class="cls-1" x="86.3" y="121.63" width="394.92" height="558.53" rx="94.76" ry="94.76"/>
        <rect class="cls-1" x="96.17" y="135.6" width="375.17" height="530.6"/>
        <rect class="cls-1" x="105.55" y="148.86" width="356.41" height="504.07" rx="31.11" ry="31.11"/>
        <rect class="cls-1" x="114.46" y="161.46" width="338.59" height="478.87"/>
        <rect class="cls-1" x="122.92" y="173.44" width="321.66" height="454.92" rx="39.76" ry="39.76"/>
        <rect class="cls-1" x="130.97" y="184.81" width="305.58" height="432.18" rx="110" ry="110"/>
        <rect class="cls-1" x="138.61" y="195.61" width="290.3" height="410.57" rx="29.39" ry="29.39"/>
      </svg>
    </section>

  </div>
</div>
