* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .star {
    height: 200px;
    position: fixed;
    animation: rotation 10s infinite linear;
    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
    }
  }
  .content {
    width: 80%;
    height: 80%;
    margin: 10vh auto;
    border: solid black 2px;
  }
  h1 {
    text-align: center;
    padding: 200px 0;
  }
}
