#background-stars {
  display: flex;
  z-index: -1;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  .border-star {
    margin: 20px 0;
    height: 40px;

  }
  #stars-main-path {
    .star {
      fill: #ffb400;
    }
  }
}
