#background-stars {
  display: flex;
  z-index: -1;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  .border-star {
    margin: 20px 0;
    height: 40px;
  }
  #stars-main-path {
    .star {
      fill: #ffb400;
    }
  }
}

.logo-name {
  align-items: center;
  .one-star {
    margin: 0 -70px;
    height: 25px;
    #one-star {
      fill: #ffb400;
    }
  }
  display: flex;
  text-align: center;
  color: #2d5d7b;
  h1 {
    font-size: 3rem;
    white-space: nowrap;
  }
  p {
    font-size: 1.5rem;
    margin-top: -15px;
  }
}
