.circle-pop {
  // Location in right down corner
  width: 230px;
  position: fixed;
  right: -100px;
  bottom: -100px;

  // Rotation effect ↓
  animation: rotation 15s infinite linear reverse;
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  // Rotation effect ↑

  .circle-center {
    fill: #ffa900;
  }
  .circle-text {
    fill: none;
    stroke: #000;
    stroke-width: .45px;
  }
  .blue {
    fill: blue;
  }
}

.circle-pop:hover {
  .circle-center {
    filter: blur(0.1rem);
  }
  .circle-text {
    fill: blue;
  }
  .blue {
    fill: none;
  }
}
