.pop-corner {
  fill: #ffa900;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 150px;
  overflow: visible;
  text {
    .corner-pop-text {
      font-size: 4rem;
      fill: #6a3813;
    }
  }
}
