* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  background-image: url("egg-shell-texture.png");
  // font-family: 'Clash Display', sans-serif;
  font-family: 'Bonny', serif;
}
