* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #EEEAE4;
  font-family: 'Clash Display', sans-serif;
}

.container {
  .content {
    padding: 5%;
    height: 90vh;
    width: 80vw;

    // Center alignment
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .right-content {
      display: grid;
      align-content: center;
      width: 90%;
      height: 25%;
      gap: 10px;
      #logo {
        font-size: 3rem;
        line-height: 0.4;
        border-bottom: 1px solid;
        padding-bottom: 20px;
        font-weight: 500;
        .l-name {
          transition: mix-blend-mode 0.5s;
          mix-blend-mode: overlay;
        }
        .l-name:hover {
          mix-blend-mode: unset;
        }
      }
      p {
        text-align: right;
      }

    }
    .image-container {
      height: 75%;
      text-align: center;
      #gus {
        object-fit: contain;
        height: 90%;
        width: 95%;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
}
