.container {
  display: grid;
  height: 100vh;
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: #2d5d7b;
    .name-logo {
      text-align: center;
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1.5rem;
        margin-top: -20px;
      }
    }
    .flower-pic {
      margin-top: 30px;
      width: 250px;
    }
    .mail-button {
      font-size: 2rem;
      width: fit-content;
      margin-top: 30px;
      padding: 0 15px;
      transition: text-decoration .5s ease-out;
      border-radius:20px;
      border-bottom: transparent 2px solid;
      a {
        text-decoration: none;
        color: #2d5d7b;
      }
      &:hover {
        // text-decoration: underline #2d5d7b 2px;
        border-bottom: solid 2px #2d5d7b;
      }
    }
  }
}

// Hiding picture in landscape mode to avoid cramping.
@media screen and (min-device-width: 667px) and (max-device-height: 390px){
  .container {
    .flower-pic {
      display: none;
    }
  }
}
