    <section id="background-stars">
      <%# Logo name, top %>
      <div class="logo-name">
        <%= embedded_svg('svg/one-star', class:"one-star") %>
        <div class="logo">
          <h1>David Mendoza</h1>
          <p>Web Developer</p>
        </div>
        <%= embedded_svg('svg/one-star', class:"one-star") %>
      </div>
      <%# Background stars, bottom %>
      <%= embedded_svg('svg/stars', class:"border-star") %>
    </section>
